@import url("./dataValues.css");

.header {
  background-color: var(--backroundColor);
  display: flex;
}

.leftBlock {
  &__img {
    width: 90%;
    display: flex;
flex-wrap: wrap;
flex-direction: column;
  justify-items: center;
    padding: 10px;
  }
}

.rightBlock {
  width: 100%;
  &__menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
  }

  &__menuEl {
    font-style: normal;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
  }
  &__gtxt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    padding-top: 2%;
  }
  &__text1 {
    font-style: italic;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
  }
  &__text2 {
    font-style: normal;
    color: black;
    text-decoration: none;
    font-size: 80px;
  }
  &__img {
    width: 10%;
    filter: grayscale(100%);
  }
}
